@model THN.Core.Models.CategoryModel

@{
    ViewBag.Title = "Thêm mới danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
}

<section class="content-header">
    <h1>
        Thêm mới
        <small>Danh mục</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="@Url.Action("Index")">Danh sách danh mục</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm mới danh mục sản phẩm</h3>
                    <div class="pull-right">
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-undo"></i> Trở lại</a>
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("PartialForm", Model)
                        
                    }

                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" id="btnCancel" class="btn btn-danger"><i class="fa fa-refresh"></i> Huỷ</button>
                        <button type="button" id="btnSubmit" class="btn btn-info"><i class="fa fa-save"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Css{
    <link rel="stylesheet" href="~/Themes/backend/plugins/iCheck/all.css">
}
@section scripts{
    <script src="~/Themes/backend/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Scripts/admin/admin.categories.form.js"></script>
}