@model IEnumerable<THN.Core.Models.CategoryModel>
@{
    ViewBag.Title = "Danh sách danh mục sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1>
        Danh sách danh mục
        <small>Danh mục</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="@Url.Action("Index")">Danh mục</a></li>
        <li class="active">Danh sách</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm mới tài khoản</h3>
                    <div class="pull-right">
                        <a href="@Url.Action("Create","Category")" class="btn btn-primary"><i class="fa fa-plus"></i> Tạo mới</a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="tblCategories" class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Slug</th>
                                        <th>Hiển thị</th>
                                        <th>Sắp xếp</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int index = 0;}
                                    @foreach (var item in Model)
                                    {
                                        index++;
                                        <tr>
                                            <td>@index</td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>@item.Slug</td>
                                            <td>
                                                <div class="form-group">
                                                    <label>
                                                        <input name="Visibed" type="checkbox" class="minimal visibled" @(item.Visibled == 1 ? "checked" : "") value="@item.Id" />
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input name="OrderBy" type="number" class="form-control orderBy" data-id="@item.Id" value="@item.OrderBy" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="@Url.Action("Edit","Category", new { id = item.Id})" data-id="@item.Id" title="Sửa"><i class="fa fa-edit"></i></a>
                                                    @*<a href="@Url.Action("Detail","Category", new { id = item.Id})" data-id="@item.Id" title="Chi tiết"><i class="fa fa-eye"></i></a>*@
                                                    <a name="btnDelete" href="javascript:void(0);" data-id="@item.Id" title="Xoá"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button id="btnUpdateOrderBy" class="btn btn-default">Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Css{
    <link rel="stylesheet" href="~/Themes/backend/plugins/iCheck/all.css">
    <style type="text/css">
        .orderBy {
            width: 90px;
        }
    </style>
}
@section scripts{
    <script src="~/Themes/backend/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Scripts/admin/admin.categories.view.js" type="text/javascript"></script>
    <script type="text/javascript">
        var msgSuccess = "@Html.Raw(TempData["SuccessMsg"])";
        if (!$.isEmptyObject(msgSuccess))
            $.notify(msgSuccess, "success");
        var msgError = "@Html.Raw(TempData["ErrorMsg"])";
        if (!$.isEmptyObject(msgError))
            $.notify(msgError, "error");
    </script>
}