@model THN.Core.Models.UserFunction

@{
    ViewBag.Title = "Thêm mới user vào quyền";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var accountDAL = new THN.Core.DAL.AccountDAL();
    var lstAccount = accountDAL.GetAll();
}

<section class="content-header">
    <h1>
        Thêm mới quyền
        <small>Chức năng</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="@Url.Action("Index")">Chức năng</a></li>
        <li class="active">Thêm mới quyền</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm mới chức năng</h3>
                    <div class="pull-right">
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-undo"></i> Trở lại</a>
                    </div>
                </div>
                <div class="box-body">
                    @if(ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Thông báo :</strong> @ViewData["SuccessMsg"]
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>User</strong>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="Account">Nhân viên</label>
                                        <select id="Account" class="form-control select2">
                                            <option>--Vui lòng chọn--</option>
                                        @foreach (var item in lstAccount)
                                        {
                                            <option value="@item.ID" >@item.Username - @item.Name</option>
                                            @*@(item.ID == Model.UserID ? "selected" : "")*@
                                        }
                                        </select>
                                    </div>
                                    <input name="UserID" value="" type="hidden" />
                                    <input name="lstFunction" value="" class="hidden"/>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Chức năng</strong>
                                </div>
                                <div class="panel-body">
                                    @Html.Action("GetHtmlFunction", "Functions")
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="hidden" id="btnSubmitForm" />
                        <div class="clearfix"></div>
                    }
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" id="btnReset" class="btn btn-danger"><i class="fa fa-refresh"></i> Huỷ</button>
                        <button type="button" id="btnSubmit" class="btn btn-info"><i class="fa fa-save"></i> Lưu</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@section Css{
    <link rel="stylesheet" href="~/Themes/backend/plugins/select2/select2.min.css">    
}
@section scripts{
    <script src="~/Themes/backend/plugins/select2/select2.full.min.js"></script>
   <script type="text/javascript">
       $(function () {

           $('#btnSubmit').click(function (e) {
               e.preventDefault();
               $('#btnSubmitForm').click();
           })

           $(".select2").select2();
           
           $('#Account').change(function (e) {
               e.preventDefault();
               var userID = $(this).val();
               $('input[name="UserID"]').val(userID);
           });

           $('input[name="chkAll"]').change(function (e) {
               e.preventDefault();
               var checkboxes = $(this).closest('form').find(':checkbox');
               if ($(this).is(':checked')) {
                   checkboxes.prop('checked', true);
               } else {
                   checkboxes.prop('checked', false);
               }
           });

           $('input[name="Function"]').change(function (e) {
               e.preventDefault();
               var parentLI = $(this).parent().parent();
               var checkboxes = $(parentLI).find('ul').find('input[type="checkbox"]');
               if ($(this).is(':checked')) {
                   checkboxes.prop('checked', true);
               } else {
                   checkboxes.prop('checked', false);
               }
           });

           
       });
    </script>

}