
@model IEnumerable<THN.Core.EntityFramework.Function>
@{
    var lstParentLevel1 = Model.Where(l => l.Parent == 0).ToList();
}
<ul class="tree">
    <li>
        <span><input type="checkbox" name="chkAll" value="" /> Check All</span>
        <ul id="lstFunction">
            @foreach (var item in lstParentLevel1)
            {
                <li class="parent_li">
                    <div class="tree-menu-item">
                        <input type="checkbox" name="Function" value="@item.ID" data-level="@item.Level" />
                        <a data-level="@item.ID" data-id="@item.ID" href="javascript:void(0);">@item.Name</a>
                    </div>
                    @{
                        var lstChildLevel2 = Model.Where(l => l.Parent == item.ID).ToList();
                    }
                    @if (lstChildLevel2 != null && lstChildLevel2.Count > 0)
                    {
                        <ul>
                            @foreach (var child in lstChildLevel2)
                    {
                                <li class="">
                                    <div class="tree-menu-item">
                                        <input type="checkbox" name="Function" value="@child.ID" data-level="@child.Level" />
                                        <a data-level="@child.Level" data-id="@child.ID" href="javascript:void(0);">@child.Name</a>
                                    </div>
                                    @{
                                        var lstChildLevel3 = Model.Where(l => l.Parent == child.ID).ToList();
                                    }
                                    @if (lstChildLevel3 != null && lstChildLevel3.Count > 0)
                                    {
                                        <ul>
                                            @foreach (var child3 in lstChildLevel3)
                                            {
                                                <li>

                                                    <div class="tree-menu-item">
                                                        <input type="checkbox" name="Function" value="@child3.ID" data-level="@child3.Level" />
                                                        <a data-level="@child3.Level" data-id="@child.ID" href="javascript:void(0);">@child3.Name</a>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                    }
                                </li>
                                        }
                        </ul>
                                        }

                </li>
                                        }
        </ul>
    </li>
</ul>
